Java/Comex/ComexWS_1.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.--><!--Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e.--><definitions targetNamespace="http://ws.comex.com.br/" name="ComexWSService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.comex.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.comex.com.br/" schemaLocation="ComexWS.xsd"/>
    </xsd:schema>
  </types>
  <message name="InserindoCategoria">
    <part name="parameters" element="tns:InserindoCategoria"/>
  </message>
  <message name="InserindoCategoriaResponse">
    <part name="parameters" element="tns:InserindoCategoriaResponse"/>
  </message>
  <message name="SQLException">
    <part name="fault" element="tns:SQLException"/>
  </message>
  <message name="InserindoCliente">
    <part name="parameters" element="tns:InserindoCliente"/>
  </message>
  <message name="InserindoClienteResponse">
    <part name="parameters" element="tns:InserindoClienteResponse"/>
  </message>
  <message name="ListarClientes">
    <part name="parameters" element="tns:ListarClientes"/>
  </message>
  <message name="ListarClientesResponse">
    <part name="parameters" element="tns:ListarClientesResponse"/>
  </message>
  <message name="getProdutos">
    <part name="parameters" element="tns:getProdutos"/>
  </message>
  <message name="getProdutosResponse">
    <part name="parameters" element="tns:getProdutosResponse"/>
  </message>
  <message name="ListarCategorias">
    <part name="parameters" element="tns:ListarCategorias"/>
  </message>
  <message name="ListarCategoriasResponse">
    <part name="parameters" element="tns:ListarCategoriasResponse"/>
  </message>
  <portType name="ListaCategoria">
    <operation name="InserindoCategoria">
      <input wsam:Action="http://ws.comex.com.br/ListaCategoria/InserindoCategoriaRequest" message="tns:InserindoCategoria"/>
      <output wsam:Action="http://ws.comex.com.br/ListaCategoria/InserindoCategoriaResponse" message="tns:InserindoCategoriaResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://ws.comex.com.br/ListaCategoria/InserindoCategoria/Fault/SQLException"/>
    </operation>
    <operation name="InserindoCliente">
      <input wsam:Action="http://ws.comex.com.br/ListaCategoria/InserindoClienteRequest" message="tns:InserindoCliente"/>
      <output wsam:Action="http://ws.comex.com.br/ListaCategoria/InserindoClienteResponse" message="tns:InserindoClienteResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://ws.comex.com.br/ListaCategoria/InserindoCliente/Fault/SQLException"/>
    </operation>
    <operation name="ListarClientes">
      <input wsam:Action="http://ws.comex.com.br/ListaCategoria/ListarClientesRequest" message="tns:ListarClientes"/>
      <output wsam:Action="http://ws.comex.com.br/ListaCategoria/ListarClientesResponse" message="tns:ListarClientesResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://ws.comex.com.br/ListaCategoria/ListarClientes/Fault/SQLException"/>
    </operation>
    <operation name="getProdutos">
      <input wsam:Action="http://ws.comex.com.br/ListaCategoria/getProdutosRequest" message="tns:getProdutos"/>
      <output wsam:Action="http://ws.comex.com.br/ListaCategoria/getProdutosResponse" message="tns:getProdutosResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://ws.comex.com.br/ListaCategoria/getProdutos/Fault/SQLException"/>
    </operation>
    <operation name="ListarCategorias">
      <input wsam:Action="http://ws.comex.com.br/ListaCategoria/ListarCategoriasRequest" message="tns:ListarCategorias"/>
      <output wsam:Action="http://ws.comex.com.br/ListaCategoria/ListarCategoriasResponse" message="tns:ListarCategoriasResponse"/>
      <fault message="tns:SQLException" name="SQLException" wsam:Action="http://ws.comex.com.br/ListaCategoria/ListarCategorias/Fault/SQLException"/>
    </operation>
  </portType>
  <binding name="ListaCategoriaPortBinding" type="tns:ListaCategoria">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="InserindoCategoria">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="InserindoCliente">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="ListarClientes">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="getProdutos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
    <operation name="ListarCategorias">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SQLException">
        <soap:fault name="SQLException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ComexWSService">
    <port name="ListaCategoriaPort" binding="tns:ListaCategoriaPortBinding">
      <soap:address location="http://localhost:8080/ComexWS"/>
    </port>
  </service>
</definitions>